[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"

[packages]
requests = "*"
scipy = "*"
altair = "*"
statsmodels = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
matplotlib = "*"

[requires]
python_version = "3.6"
